Line, Rectangle, Circle, Ellipse, Arc {
    -fx-stroke-width: 10;
}

#line1 {
    -fx-stroke: red;
}

#line2 {
    -fx-stroke: rgba(0%, 50%, 0%, 0.5);
    -fx-stroke-line-cap: round;
}

#rectangle {
    -fx-stroke: red;
    -fx-arc-width: 50;
    -fx-arc-height: 50;
    -fx-fill: yellow;
}

#circle {
    -fx-stroke:blue;
    -fx-fill: radial-gradient(center 75% 50%, radius 60%, white, red);
}

#ellipse {
    -fx-stroke: green;
    -fx-fill: image-pattern("/images/skylark.jpg");
}

#arc {
    -fx-stroke: purple;
    -fx-fill: linear-gradient(to right, cyan, white);
}